<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferretería Timbles</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'catalogo/css/style.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'index' %}" class="brand">
            <img src="{% static 'catalogo/images/logo.jpg' %}" alt="Logo Timbles">
            <h1>Ferretería Timbles</h1>
        </a>
        
        <div class="header-actions">
            <div class="stock-badge">
                👤 {{ usuario }}
                {% if role == 'admin' %}
                <span class="admin-tag">ADMIN</span>
                {% endif %}
            </div>

            {% if total_stock is not None %}
            <div class="stock-badge">
                📦 Bodega: {{ total_stock }} uds
            </div>
            {% endif %}
            
            <a href="{% url 'ver_carrito' %}" class="cart-btn">
                🛒 Carrito ({{ carrito_count|default:"0" }})
            </a>
            
            <a href="{% url 'logout_view' %}" class="logout-btn">Salir</a>
        </div>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
