{% extends 'catalogo/base.html' %} 

{% block content %}
<h2>Catálogo de Productos</h2>
<p>Revisa nuestro catálogo completo. Los productos sin stock están marcados en rojo.</p>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <!-- NUEVO ETAPA 3: Usamos un IF para saber si el stock es 0. Si es 0, aplicamos la clase CSS "agotado" (fondo rojo) -->
        {% if producto.stock == 0 %}
        <tr class="agotado">
        {% else %}
        <tr>
        {% endif %}
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.categoria }}</td>
            <td>${{ producto.precio }}</td>
            <td>{{ producto.stock }}</td>
            <td><a href="/producto/{{ producto.id }}/" style="color: inherit;">Ver Detalle</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
